{% extends 'base.html' %}
{% block content %}

<p  style="margin: 20px auto; text-align: center; font-size: 1rem; background-color: black; border-radius: 10px; padding: 15px;">
    Somos una subdivision de MARVEL L.A. que trae para usted los mejores productos <br>
                para brindarle un precio accesible y de la mejor calidad, productos importados, originales <br> 
            y actualizados con las ultimas novedades del mercado pero sobre todo de parte de su amigable y confiable vecino...
</p>
<div>
    <img src="/static/images/585f9379cb11b227491c3583.jpg" alt="Sobre Nosotros" style= "border-radius: 10px; width: 100%;">
</div>
{% endblock %}