
{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="shortcut icon" href="../img/587282f1f3a71010b5e8ef14.png">

        <link rel="shortcut icon" href="../img/587282f1f3a71010b5e8ef14.png">
        

    <title>La Torre Marvel -Quiz-</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body class="quizz">
 
     



    <div class="titulogeneral">
      <h2 class="TIENDA2"> <a href="#TRIVIA"> TRIVIA</a></h2> 
  </div>
  <div class="titulogeneral QUIZTITLE">
    <h2 class="TIENDA2">  ¿Eres un verdadero Fan de Marve? Demuestralo!</h2>
</div>





   
    <script language="JavaScript">
      var alfab="abcdefghijklmnñopqrstuvxyz"
      var nump=10
      var nrp=3
      function corrixe(){
      var acertos=0
      var sol=""
      fiestrar=open("","novar","width=300,height=350,scrollbars")
      fiestrar.document.write("<table border='0' width='100%' cellspacing='0' cellpadding='4' bgcolor='#FFFFF2'><tr><td><p align='center'>")
      for(i=1;i<=nump;i++){var senresp=true 
        for(j=1;j<=nrp;j++){
          if(eval("document.test.resp"+i+"["+(j-1)+"].checked")==true){
            sol+=alfab.substring(j-1,j);senresp=false;break
          }
      }
      if(senresp==true){sol+="-"}
      }
      var tempo= new Date()
      fiestrar.document.write("<br>Hora: "+tempo.getHours()+":"+tempo.getMinutes())
      fiestrar.document.write("<br>Fecha: "+tempo.getDate()+"/"+eval(tempo.getMonth()+1)+"/"+tempo.getYear())
      fiestrar.document.write("<p align='center'><table>")
      fiestrar.document.write("<tr><td colspan='4' align='center'><font size='5'>Resultados del test</font><p></td></tr>")
      fiestrar.document.write("<tr><td width='33' bgcolor='#FFF4F4'>"+
      "<p align='center'>Preg</td><td width='35' bgcolor='#FFF4F4' align='center'>"+
      "Solu</td><td width='35' bgcolor='#FFF4F4' align='center'>Resp</td>"+
      "<td width='35' bgcolor='#FFF4F4'><p align='center'>Resul</td></tr>")
      for(i=1;i<=sol.length;i++){
        respuesta=document.test.tras.value.substring(i-1,i)
        solucion=sol.substring(i-1,i)	
        if(respuesta==solucion){
        acertos+=1
        fiestrar.document.write("<tr><td align='center'>"+i+
        "</td><td align='center'>"+respuesta+"</td><td align='center'>"+solucion+
        "</td><td align='center'><font color='#009933'>acierto</font></td></tr>")
        }
        else{
        fiestrar.document.write("<tr><td align='center'>"+i+"</td><td align='center'>"+respuesta+
        "</td><td align='center'>"+solucion+"</td><td align='center'><font color='#FF0000'>fallo</font></td></tr>")
        }
      }
      nota=10/nump*acertos;
      if(Math.floor(nota)!=Math.ceil(nota)){cadea=""+nota;for(var i=0;i<=cadea.length;i++){
      if(cadea.charAt(i)=="."){nota=cadea.substring(0,i+3);break;}}}
      fiestrar.document.write("<tr><td colspan='4' align='center'>Aciertos: "+acertos+" de "+nump+"</td></tr>")
      fiestrar.document.write("<tr><td colspan='4' align='center'>Muy Buen Intento!: "+nota+" La torre marvel te felicita!</td></tr>")
      fiestrar.document.write("</td></tr><tr><td colspan='4' align='center'><p><form><input type='button' value='Cerrar' name='pecharf' onClick='window.close()' style='background-color: #FFCC66'></form></td></tr></table></td></tr></table>")
      fiestrar.document.write("</table>")
      fiestrar.document.close()
      
    
    
    }
      let felicitar = () =>{
        alert("el doctor strange ya sabia que dirias que es la mejor pagina del mundo!")

        return document.getElementById("mensaje").innerHTML = "Gracias por elegirnos!"

      }

      </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


   
          
            <div class="container container3">
          <form name="test">
          <table width="100%"><tbody><tr><td align="center"><table>
          <tbody><tr>
          <td>
          </tr ></tbody></table></td></tr><tr><td>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">1. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cual es el primer mas joven?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp1"></td><td>Iron Man</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp1"></td><td>Capitán América</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp1"></td><td>Thor</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">2. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cuales son las gemas del infinito?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp2"></td><td>Tiempo-espacio-mente-realidad-alma-poder</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp2"></td><td>Tiempo-realidad-alma-poder-cosmos-mente</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp2"></td><td>Tiempo-poder-caos-gravedad-alma-mente</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">3. </font></td><td bgcolor="#F2FFF2" width="100%">¿cuales de estas personas NO pudieron levantar el martillo de thor?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp3"></td><td>Vision</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp3"></td><td>Capitan America</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp3"></td><td>Iron man</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">4. </font></td><td bgcolor="#F2FFF2" width="100%">El nombre real de doctor strange es </td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp4"></td><td>Stephano Victor strange</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp4"></td><td>Stephen Vincent Strange</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp4"></td><td>Stephen Smith Strange</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">5. </font></td><td bgcolor="#F2FFF2" width="100%">¿De que color era hulk en sus primeros comics?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp5"></td><td>Verde</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp5"></td><td>Gris </td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp5"></td><td>Azul</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">6. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cual de estos superheroes en el MCU jamas fue al espacio?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp6"></td><td>Spiderman</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp6"></td><td>Hawkeye</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp6"></td><td>Hulk</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">7. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cuales son los poderes de Ant man?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp7"></td><td>Super fuerza y encojerse</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp7"></td><td>Encojerse y comunicarse con las hormigas</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp7"></td><td>Ninguno, solo tiene un traje</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">8. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cual es la gema que buscan los guardianes de la galaxia en su primera pelicula?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp8"></td><td>Gema del alma</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp8"></td><td>Gema del poder</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp8"></td><td>Gema de la mente</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">9. </font></td><td bgcolor="#F2FFF2" width="100%">¿Cuantos superheroes conforman el primer grupo de vengadores en el mcu?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp9"></td><td>7</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp9"></td><td>8</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp9"></td><td>6</td></tr></tbody></table>
          <table class=pregunta><tbody><tr><td><font size="4" color="#FF00FF">10. </font></td><td bgcolor="#F2FFF2" width="100%">¿De que material esta hecho el escudo del capitan america?</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>a) </td><td><input type="radio" name="resp10"></td><td>Vibranium</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>b) </td><td><input type="radio" name="resp10"></td><td>Adamantium</td></tr></tbody></table>
          <table><tbody><tr><td width="25">&nbsp;</td><td>c) </td><td><input type="radio" name="resp10"></td><td>Celirium</td></tr></tbody></table>
          </td></tr>
          <tr><td align="center" height="50"><input type="hidden" value="bacbabcbca" name="tras">
          <input class="botonquizz" type="button" value="Puntuación" name="resultados" onclick="corrixe()" style="background-color: #FFCC66">
          <input class="botonquizz" type="reset" value="Limpiar" name="limpar" style="background-color: #FFCC66"></td></tr>
          </tbody></table></form>
          
          </div>




          {% endblock %}
  